<div class="bounce">
<span class="letter">L</span>
<span class="letter">O</span>
<span class="letter">G</span>
<span class="letter">I</span>
<span class="letter">N</span>
<span class="letter">!</span>
</div>





<div class="main">
  <%# <div class="card devise-card"> %>
  <h2 class="logo-img mx-auto"></h2>
  <div class="form-group text-center">
    <p class="fade-out">おかえりなさい</p>
  </div>


    <div class="form-wrap">
      <%= form_with scope: resource, as: resource_name, url: session_path(resource_name), local: true do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Mail", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign In", class: "btn btn-primary w-100" %>
        </div>
      <% end %>

      <br>

      <p class="devise-link">
        <%= link_to "New Account", new_user_registration_path %>
      </p>

    </div>
  <%# </div> %>
</div>